@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* sm	40rem (640px)	@media (width >= 40rem) { ... } */
/* md	48rem (768px)	@media (width >= 48rem) { ... } */
/* lg	64rem (1024px)	@media (width >= 64rem) { ... } */
/* xl	80rem (1280px)	@media (width >= 80rem) { ... } */
/* 2xl	96rem (1536px)	@media (width >= 96rem) { ... } */

@layer base {
    * {
        @apply m-0 p-0 box-border border-0 border-purple-500 font-poppins
    }

    main {
        @apply min-h-dvh
    }

    section {
        @apply w-full flex flex-col py-4 lg:py-6
    }

    h1 {
        @apply font-extrabold text-gray-900 text-2xl lg:text-4xl
    }

    h2 {
        @apply text-2xl
    }

    h3 {
        @apply text-xl
    }

    h4 {
        @apply text-sm
    }

    h5 {
        @apply text-xs
    }

    span {
        @apply flex
    }

    p {
        @apply text-neutral-400
    }

    a {
        @apply cursor-pointer
    }

    input, textarea {
        @apply outline-0 font-light
    }

    table {
        @apply mb-8 last:mb-0
    }
}

@layer components {
    .container {
        @apply grid gap-4 mx-auto w-5/6 xl:w-8/12
    }

    .btn {
        @apply p-4 rounded-lg bg-orange-500 text-white text-xl font-extrabold transition-all duration-150 hover:bg-orange-600
    }

    .banner {
        @apply bg-neutral-800 py-16 bg-no-repeat bg-right overflow-hidden relative bg-cover lg:bg-[length:70%]
    }

    .titulo-sessao {
        @apply font-bold text-orange-600 mt-20 mb-4
    }

    .input-campo {
        @apply relative flex flex-col
    }

    .input-campo label,
    .titulo-tab {
        @apply text-[10px] pb-1 pl-2 text-neutral-600 font-semibold text-left lg:text-xs
    }

    .input-campo input,
    .input-campo textarea,
    .celula-tab input {
        @apply border border-neutral-200 rounded-lg p-3 outline-0 w-full text-neutral-800 bg-neutral-50 my-1 text-xs lg:text-sm
    }

    .input-reais {
        @apply pl-8 !important
    }

    .sifrao {
        @apply absolute bottom-0 my-4 pl-3 text-sm
    }

    .tabelas {
        @apply border-0 border-neutral-300 rounded overflow-x-scroll pb-2 relative
    }

    .tabelas table {
        @apply min-w-[1000px] lg:min-w-full
    }

    .celula-tab {
        @apply text-left text-sm py-0 px-2 font-light first:pl-0 last:pr-0
    }

    .celula-add-linha {
        @apply pt-2
    }

    .celula-add-linha span {
        @apply bg-orange-500 w-48 rounded-lg p-2 text-white font-semibold
    }

    .pelicula {
        @apply fixed w-full h-full bg-[#000000aa] z-50 top-0 left-0 flex transition-all duration-150
    }

    .msg-container {
        @apply m-auto shadow bg-white rounded-2xl p-12 flex flex-col justify-center items-center w-[400px] aspect-square    
    }

    .msg-icone {
        @apply text-[100px] mb-12 text-green-500 scale-150 rounded-full p-2
    }

    .msg-texto {
        @apply font-semibold leading-7 text-center text-green-500 text-2xl m-0 uppercase
    }

    .msg-descr {
        @apply text-xs mt-4 text-center
    }

    .error {
        @apply absolute text-red-600 text-xs -bottom-4
    }

    .item-lista-final {
        @apply text-neutral-500 text-xs font-light my-4
    }

    .subitem-lista-final {
        @apply item-lista-final flex items-center ml-4 lg:ml-8
    }

    .gradient {
        @apply absolute h-full w-[20px] right-0 bg-gradient-to-r from-[#ffffff00] to-70% to-red-500
    }

    #concorrentes .container {
        @apply mb-8 last:mb-0
    }
}

@layer utilities {

    /* Para navegadores baseados em WebKit (Chrome, Safari, Edge) */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Para Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    .tabelas::-webkit-scrollbar {
        width: .5rem;
        height: .5rem;
        /* width of the entire scrollbar */
    }

    .tabelas::-webkit-scrollbar-track {
        background: white;
        /* color of the tracking area */
    }

    .tabelas::-webkit-scrollbar-thumb {
        background-color: #ccc;
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 0px;
        /* creates padding around scroll thumb */
    }
}