@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0 p-0 box-border border-0 border-purple-500 font-poppins
    }
    
    main {
        @apply min-h-dvh
    }
    
    section {
        @apply w-full flex flex-col py-6
    }
    
    h1 {
        @apply text-4xl font-extrabold text-gray-900
    }
    
    h2 {
        @apply text-2xl
    }
    
    h3 {
        @apply text-xl
    }
    
    h4 {
        @apply text-sm
    }
    
    h5 {
        @apply text-xs
    }
    
    span {
        @apply flex
    }
    
    p {
        @apply text-neutral-400
    }
    
    a {
        @apply cursor-pointer
    }

    input, textarea {
        @apply outline-0 font-light
    }

    table {
        @apply mb-8 last:mb-0
    }
}

@layer components {
    .container {
        @apply grid gap-4 mx-auto w-5/6 lg:w-8/12 xl:w-6/12
    }

    .btn {
        @apply p-4 rounded-lg bg-orange-500 text-white text-xl font-extrabold transition-all duration-150 hover:bg-orange-600
    }

    .banner {
        @apply bg-neutral-800 py-16 bg-[length:70%] bg-no-repeat bg-right overflow-hidden relative
    }

    .titulo-sessao {
        @apply font-bold text-orange-600 mt-20 mb-4
    }

    .input-campo {
        @apply relative flex flex-col
    }

    .input-campo label,
    .titulo-tab {
        @apply text-xs pb-1 pl-2 text-neutral-600 font-semibold text-left
    }

    .input-campo input,
    .input-campo textarea,
    .celula-tab input {
        @apply border border-neutral-200 rounded-lg p-3 outline-0 text-sm w-full text-neutral-800 bg-neutral-50 my-1
    }

    .input-reais {
        @apply pl-8 !important
    }

    .sifrao {
        @apply absolute bottom-0 my-4 pl-3 text-sm
    }

    .tabelas {
        @apply border-0 border-neutral-300 rounded
    }

    .celula-tab {
        @apply text-left text-sm py-0 px-2 font-light first:pl-0 last:pr-0
    }

    .celula-add-linha {
        @apply pt-2
    }

    .celula-add-linha span {
        @apply bg-orange-500 w-48 rounded-lg p-2 text-white font-semibold
    }

    .pelicula {
        @apply fixed w-full h-full bg-[#000000aa] z-50 top-0 left-0 flex transition-all duration-150
    }

    .msg-container {
        @apply m-auto shadow bg-white rounded-2xl p-12 flex flex-col justify-center items-center w-[500px] aspect-video
    }

    .msg-icone {
        @apply text-[100px] mb-12 text-green-500 scale-150 rounded-full p-2
    }

    .msg-texto {
        @apply font-extrabold text-center text-green-500 text-2xl m-0 uppercase
    }

    .msg-descr {
        @apply text-xs mt-4 text-center 
    }

    .error {
        @apply absolute text-red-600 text-xs -bottom-4
    }

    .item-lista-final {
        @apply text-neutral-400 text-xs font-extralight
    }

    #concorrentes .container {
        @apply mb-8 last:mb-0
    }
}

@layer utilities {
    /* Para navegadores baseados em WebKit (Chrome, Safari, Edge) */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Para Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}